html,body {
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.message {
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}